*{
    box-sizing: border-box;
}

#alphabet {
    font-size: 72px;
    width: 50%;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
}

#display img{
    width: 250px;
    height: 250px;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 50%;
}

#lists {
    display: flex;
    justify-content: center;
}

button{
    border-radius: 15px;
    padding: 1em;
    font-size: 1.35em;
    background-color: cyan;
    color: white;
}

#buttons{
    display: flex;
    padding: 2em;
    margin: 1em;
    font-size: 1.75em;
    justify-content: center;
}

#good, #miss{
    margin: 1em;
}

/*Mobile View*/

@media only screen and (max-device-width: 415px){
    #display{
        flex-direction: column-reverse;
        height: 100%;
    }

    #alphabet{
        text-align: center;
    }

    #display img{
        height: 400px;
        width: 400px;
        margin: 2em;
    }

    button{
        font-size: 2.2em;
        margin: 0.5em;
        width: 50%;
    }

    #buttons{
        padding: 0.2em;
    }

    #lists{
        display: flex;
        justify-content: space-around;
        font-size: 32px;
    }

    #goodWords{
        color: forestgreen;
    }

    #badWords{
        color: maroon;
    }
}