*{
    box-sizing: border-box;
}

#alphabet {
    font-size: 72px;
    width: 50%;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
}

#display img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#lists {
    display: flex;
    justify-content: center;
}

button{
    border-radius: 15px;
    padding: 1em;
    background-color: cyan;
    color: white;
}

#buttons{
    display: flex;
    padding: 2em;
    margin: 1em;
    justify-content: center;
}

#good, #miss{
    margin: 1em;
}