*{
    box-sizing: border-box;
}

#main{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

/*Info and the display are the main part of the page, need to adjust them so they stay side by side, May have them switch positions for mobile view*/

#info{
    flex-grow: 2;
    max-width: 65%;
}

#display{
    flex-shrink: 1;
    max-width: 35%;
}


/*Gallery options*/

#gallery{
    display: flex;
    justify-content: space-around;
    padding: 0 11% 0 11%;
}

.card{
    width: 100px;
    height: 150px;
    background-color:blueviolet;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.4);
}

#art{
    font-family: 'East Sea Dokdo', cursive;
    transition: 1s;
}

#art:hover{
    background-image: url(/img/foxtattoo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


#projects{
    font-family: 'Raleway', sans-serif;
    transition: 1s;
}

#projects:hover{
    background-image: url(/img/projectsCard);
    background-position: center;
    background-size: cover;
}

#updates{
    font-family: 'Roboto Mono', monospace;
    transition: 1s;
}

#updates:hover{
    background-image: url(/img/updateCard.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

#aboutMe{
    transition: 1s;
}

#aboutMe:hover{
    background-image: url(/img/115906251.png);
    background-position: center;
    background-size: cover;
}

/*Below are custom styles for the different sideDisplay states the first set is projects*/

.dasmotos, .mathQuiz, .abc{
    max-width: 40%;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
/*Still trying to get this hover effect to work*/

/*This styling is for the art gallery*/
#artGallery{
    /*display: grid, needs to be added by engine.js when the art card is clicked*/
    
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: auto;
    height: auto;
}

#artLeft, #artRight{
    background-color: lime;
    opacity: 0.4;
    z-index: 1;
}

#artLeft:hover, #artRight:hover{
    transform: scale(1.1);
    opacity: 0.6;
    transition: 0.5s;
}

#artLeft{
    grid-area: 2 / 1 / span 2 / 2;
}

#artRight{
    grid-area: 2 / 10 / span 2 / 11;
}

#viewImage{
    grid-area: 1 / 1 / span 5 / 10; 
}

#viewImage img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}