*{
    box-sizing: border-box;
}

#main{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

/*Info and the display are the main part of the page, need to adjust them so they stay side by side, May have them switch positions for mobile view*/

#info{
    flex-grow: 2;
}

#display{
    min-width: 200px;
    min-height: 200px;
    flex-shrink: 1;
}

/*Gallery options*/

#gallery{
    display: flex;
    justify-content: space-around;
    padding: 0 10% 0 10%;
}

.card{
    width: 100px;
    height: 150px;
    background-color:blueviolet;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.4);
}

#art{
    font-family: 'East Sea Dokdo', cursive;
    transition: 1s;
}

#art:hover{
    background-image: url(/img/foxtattoo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


#projects{
    font-family: 'Raleway', sans-serif;
    transition: 1s;
}

#projects:hover{
    background-image: url(/img/projectsCard);
    background-position: center;
    background-size: cover;
}

#updates{
    font-family: 'Roboto Mono', monospace;
    transition: 1s;
}

#updates:hover{
    background-image: url(/img/updateCard.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}



/*Below here are the post loading screen styles*/

.dasmotos{
    display: none;
    max-width: 40%;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

#dasmotos:hover .dasmotos{
    display: block;
}